* text=auto !eol
/FCSExpress.iml -text
/module.properties -text
resources/web/fcsexpress/ExportToLabKey.png -text
schemas/FCSExpress.xsd -text
src/org/labkey/fcsexpress/FCSExpressAssayDataHandler.java -text
src/org/labkey/fcsexpress/FCSExpressAssayProvider.java -text
src/org/labkey/fcsexpress/FCSExpressAssayRunCreator.java -text
src/org/labkey/fcsexpress/FCSExpressController.java -text
src/org/labkey/fcsexpress/FCSExpressDataLoader.java -text
src/org/labkey/fcsexpress/FCSExpressManager.java -text
src/org/labkey/fcsexpress/FCSExpressModule.java -text
src/org/labkey/fcsexpress/FCSExpressProtocolSchema.java -text
src/org/labkey/fcsexpress/importMessage.jsp -text
